@page
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "About Us";
}

<section class="breadcrumb-outer text-center" style="background: url(../images/headers/about-us.jpg); background-position:center">
    <div class="container">
        <div class="breadcrumb-content">
            <h2>@ViewData["Title"]</h2>
            <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="section-overlay"></div>
</section>
<section class="testimonials">
    <div class="section-title text-center">
        <h2>Hi! Welcome to Search Trip Tour & Travels</h2>
        <div class="section-icon section-icon-white">
            <i class="flaticon-diamond"></i>
        </div>
    </div>

    <div id="testimonial_094" class="carousel slide testimonial_094_indicators thumb_scroll_x swipe_x ps_easeOutSine" data-ride="carousel" data-pause="hover" data-interval="3000" data-duration="1000">

        <ol class="carousel-indicators">
            <li data-target="#testimonial_094" data-slide-to="0" class="active" style="    padding: 11px;">
                <img src="~/images/icons/favicon.png" alt="testimonial_094_01">
            </li>
        </ol>

        <div class="carousel-inner" role="listbox">

            <div class="carousel-item active">

                <div class="testimonial_094_slide">
                    <p>We are the top ranked travel organization in Kashmir giving a 'best as far as class can tell with the objective to be the best tour and travels package planner for Kashmir'. Through our site, www.searchtrip.co.in, you can book the best tour packages to kashmir with your family and friends. We plan your trip in such a way that you feel to be at home, all you need to do is to book a package and we plan the whole trip for you with the best hotel to stay in and best cab facilites.</p>
                    <p>Since our origin in 2022, we have served and provided the best tour package to our clients through out the country and globe too.</p>
                   
                    <h5><a href="/">SEARCH TRIP</a></h5>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="aboutus">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <h2>Why Choose Us?</h2>
                    <div class="section-icon section-icon-white">
                        <i class="flaticon-diamond"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="about-item">
                    <div class="about-icon">
                        <i class="fa fa-user-friends" aria-hidden="true"></i>
                    </div>
                    <div class="about-content">
                        <h3>EXPERIENCE TEAM</h3>
                        <p>We pair you the experienced tour directors who stay with you from the moment you stay the trip till the time you set off for the home.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="about-item">
                    <div class="about-icon">
                        <i class="fa fa-paw" aria-hidden="true"></i>
                    </div>
                    <div class="about-content">
                        <h3>QUALITY AND SERVICES</h3>
                        <p>Here, our quality and service go hand-in-hand. We do our utmost to ensure that these two hallmarks are met at every step of your journey. To help achieve the core values, we closely monitor client satisfaction and are consistently seeking new ways to exceed our clients’ expectations.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="about-item">
                    <div class="about-icon">
                        <i class="fa fa-fire" aria-hidden="true"></i>
                    </div>
                    <div class="about-content">
                        <h3>QUALITY AND VALUE</h3>
                        <p>We take great care to ensure that our products are the best value for money in the business, and we know that outstanding value means ensuring all things are right, not just the price.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>








<section class="trusted-partners">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="partners-title">
                    <h3>Our <span>Services</span></h3>
                </div>
            </div>
            <div class="col-lg-9 col-md-8">
                <ul class="partners-logo partners-slider">
                    <li><a href="javascript:void(0);"><img src="~/images/partner1.png" alt="Image"></a></li>
                    <li><a href="javascript:void(0);"><img src="~/images/partner2.png" alt="Image"></a></li>
                    <li><a href="javascript:void(0);"><img src="~/images/partner3.png" alt="Image"></a></li>
                    <li><a href="javascript:void(0);"><img src="~/images/partner4.png" alt="Image"></a></li>
                    <li><a href="javascript:void(0);"><img src="~/images/partner5.png" alt="Image"></a></li>
                    <li><a href="javascript:void(0);"><img src="~/images/partner6.png" alt="Image"></a></li>
                    <li><a href="javascript:void(0);"><img src="~/images/partner1.png" alt="Image"></a></li>
                    <li><a href="javascript:void(0);"><img src="~/images/partner2.png" alt="Image"></a></li>
                    <li><a href="javascript:void(0);"><img src="~/images/partner3.png" alt="Image"></a></li>
                    <li><a href="javascript:void(0);"><img src="~/images/partner4.png" alt="Image"></a></li>
                    <li><a href="javascript:void(0);"><img src="~/images/partner5.png" alt="Image"></a></li>
                    <li><a href="javascript:void(0);"><img src="~/images/partner6.png" alt="Image"></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>