@page
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "Contact Us";
}

<section class="breadcrumb-outer text-center" style="background: url(../images/headers/contact-us.jpg); background-position:center">
    <div class="container">
        <div class="breadcrumb-content">
            <h2>@ViewData["Title"]</h2>
            <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                </ul>
            </nav>
        </div>
    </div><a href="d:\workspace\searchtrip\searchtrips\pages\contact-us.cshtml">d:\workspace\searchtrip\searchtrips\pages\contact-us.cshtml</a>
    <div class="section-overlay"></div>
</section>

<section class="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div id="contact-form" class="contact-form">
                    <div id="contactform-error-msg"></div>
                        <div class="row">
                            <div class="form-group col-lg-12">
                                <label>Name:</label>
                            <input type="text" name="full_name" class="form-control" id="fdbname" placeholder="Enter full name" required>
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Email:</label>
                            <input type="email" name="email" class="form-control" id="fdbmail" placeholder="abc@xyz.com" required>
                            </div>
                            <div class="form-group col-lg-6 col-left-padding">
                                <label>Phone Number:</label>
                                <input type="text" name="phone" class="form-control" id="phnumber" placeholder="XXXX-XXXXXX" required>
                            </div>
                            <div class="textarea col-lg-12">
                                <label>Message:</label>
<textarea name="comments" placeholder="Enter a message" id="fdbmessage" required></textarea>
                            </div>
                            <div class="col-lg-12">
                                <div class="comment-btn">
                                <input type="submit" class="btn-blue btn-red" id="Feedback_submit" value="Send Message">
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-about footer-margin">
                    <div class="about-logo">
                        <img src="~/images/icons/logo.png" class="img-fluid" alt="Image">
                    </div>
                    <h4>Travel With Us</h4>
                    <p>If you are lookling for the best and memorable vacation in Jammu, Kashmir and Ladakh, then feel free to get in touch with us for the reliable service and best quote today. We have the exprienced travel consultants, they understand your needs and offer you the best tour possible.</p>
                    <div class="contact-location">
                        <ul>
                            <li><i class="flaticon-maps-and-flags" aria-hidden="true"></i> Gulmarg Road Magam Budgam</li>
                            <li>
                                <i class="flaticon-phone-call"></i> +91 9596096197
                                <i class="flaticon-phone-call"></i> +91 7889793852
                            </li>
                            <li><i class="flaticon-mail"></i> <a href="mailto:searchtrip88@gmail.com" class="__cf_email__">searchtrip88@gmail.com</a></li>
                            <li><i class="flaticon-mail"></i> <a href="mailto:info@searchtrip.co.in" class="__cf_email__">info@searchtrip.co.in</a></li>
                        </ul>
                    </div>
                    <div class="footer-social-links">
                        <ul style="display: inline-flex;">
                            <li class="social-icon"><a href="https://www.facebook.com/searchtripkashmir?mibextid=ZbWKwL" target="_blank"><img src="~/images/icons/fa/facebook.png" style="width:65%" /></a></li>
                            <li class="social-icon"><a href="https://instagram.com/search.trip?igshid=ZGUzMzM3NWJiOQ==" target="_blank"><img src="~/images/icons/fa/instagram.png" style="width:65%" /></a></li>
                            <li class="social-icon"><a href="https://twitter.com/searchtrip88?t=0yWv_YL_rkIM0wxGjYa-_g&s=09" target="_blank"><img src="~/images/icons/fa/twitter.png" style="width:65%" /></a></li>
                            <li class="social-icon"><a href="https://youtube.com/@@searchtriptourandtravels" target="_blank"><img src="~/images/icons/fa/youtube.png" style="width:65%" /></a></li>
                            <li class="social-icon"><a href="https://api.whatsapp.com/send/?phone=919596096197&text&type=phone_number&app_absent=0" target="_blank"><img src="~/images/icons/fa/whatsapp.png" style="width:65%" /></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d105761.12996117058!2d74.6106296237619!3d34.068609053828204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x832929e4e7f682db%3A0x2a2d64188ead7a85!2sSearch%20Trip%20Tour%20and%20Travels!5e0!3m2!1sen!2sin!4v1685641156953!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>