@page
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "Hotels";
}

<section class="breadcrumb-outer text-center" style="background: url(../images/slider/s4.jpg); background-position:center;background-position-x: right;">
    <div class="container">
        <div class="breadcrumb-content">
            <h2>Hotels</h2>
            <nav aria-label="breadcrumb justify-content-center">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Hotels</li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="section-overlay"></div>
</section>

<section class="destinations destination-padding">
    <div class="container">
        <div class="row mix asia">
            <div class="col-lg-4 col-md-6">
                <div class="destination-item">
                    <div class="destination-image">
                        <img src="~/images/headers/packages/kashmir.jpg" style="height: 289px;" alt="Srinagar">
                        <div class="destination-overlay"></div>
                        <div class="destination-btn">
                            <a href="/hotels/srinagar" class="btn-blue btn-red">View Srinagar Hotels</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="destination-item">
                    <div class="destination-image">
                        <img src="~/images/headers/hotels/pahalgham.jpeg" style="height: 289px;" alt="Pahalgam">
                        <div class="destination-overlay"></div>
                        <div class="destination-btn">
                            <a href="/hotels/pahalgam" class="btn-blue btn-red">View pahalgam Hotels</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="destination-item">
                    <div class="destination-image">
                        <img src="~/images/headers/hotels/sonamarg.jpg" style="height: 289px;" alt="Sonamarg">
                        <div class="destination-overlay"></div>
                        <div class="destination-btn">
                            <a href="/hotels/sonamarg" class="btn-blue btn-red">View sonamarg Hotels</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="destination-item">
                    <div class="destination-image">
                        <img src="~/images/headers/hotels/gulmarg.jpeg" style="height: 289px;" alt="Gulmarg">
                        <div class="destination-overlay"></div>
                        <div class="destination-btn">
                            <a href="/hotels/gulmarg" class="btn-blue btn-red">View Gulmarg Hotels</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="destination-item">
                    <div class="destination-image">
                        <img src="~/images/headers/hotels/jammu.jpg" style="height: 289px;" alt="jammu">
                        <div class="destination-overlay"></div>
                        <div class="destination-btn">
                            <a href="/hotels/jammu" class="btn-blue btn-red">View jammu Hotels</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="destination-item">
                    <div class="destination-image">
                        <img src="~/images/headers/hotels/katra.jpeg" style="height: 289px;" alt="Katra">
                        <div class="destination-overlay"></div>
                        <div class="destination-btn">
                            <a href="/hotels/katra" class="btn-blue btn-red">View katra Hotels</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="destination-item">
                    <div class="destination-image">
                        <img src="~/images/headers/hotels/patnitop.jpg" style="height: 289px;" alt="Patnitop">
                        <div class="destination-overlay"></div>
                        <div class="destination-btn">
                            <a href="/hotels/patnitop" class="btn-blue btn-red">Viewpatnitop Hotels</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="destination-item">
                    <div class="destination-image">
                        <img src="~/images/headers/hotels/leh.jpg" style="height: 289px;" alt="Ladakh">
                        <div class="destination-overlay"></div>
                        <div class="destination-btn">
                            <a href="/hotels/ladakh" class="btn-blue btn-red">View ladakh Hotels</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="destination-item">
                    <div class="destination-image">
                        <img src="~/images/headers/hotels/dallake.jpg" style="height: 289px;" alt="houseboat">
                        <div class="destination-overlay"></div>
                        <div class="destination-btn">
                            <a href="/hotels/houseboat" class="btn-blue btn-red">View houseboat Hotels</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>