@page
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "Jammu";
}

<section class="breadcrumb-outer text-center">
    <div class="container">
        <div class="breadcrumb-content">
            <h2>@ViewData["Title"]</h2>
            <nav aria-label="breadcrumb">
                <ul class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/destinations">Destinations</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="section-overlay"></div>
</section>


<section class="blog-list grid-list">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-lg-6">
                <div class="blog-wrapper">
                    <div class="blog-post-wrap">
                        <div class="blog-post-upper">
                            <img src="~/images/destinations/jammu/Bahu-Fort.jpeg" alt="Image">
                        </div>
                        <div class="blog-post-detail">
                            <div class="blog-content blog-content-1">
                                <div class="blog-date"><p><i class="fa fa-clock-o"></i>Jammu</p></div>
                                <h3><a href="javascript:void(0);">BAHU FORT</a></h3>
                                <p>Sitting on the bank of the river Tawi, this 3000 years old fort is a magnificent piece of construction. It was constructed under the instructions of the Raja Bahulochan. It still stands strong and sturdy after all these years and many wars in the area. As Jammu itself is the gateway to the Himalayas from Indian side, this fort holds a lot of importance. The Fort has been used over and over again by many rulers.</p>
                                <div class="blog-author">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-post-wrap">
                        <div class="blog-post-upper">
                            <img src="~/images/destinations/jammu/Mubarak-Mandi-Palace.jpeg" alt="Image">
                        </div>
                        <div class="blog-post-detail">
                            <div class="blog-content blog-content-1">
                                <div class="blog-date"><p><i class="fa fa-clock-o"></i> Jammu</p></div>
                                <h3><a href="javascript:void(0);">MUBARAK MANDI PALACE</a></h3>
                                <p>One of the top tourist attractions in Jammu, this palace was in use by the Kings of Dogra Dynasty personally till 1925, when the then ruler Maharaja Hari singh made and shifted into Hari Niwas. The architecture can be seen as a unique blend of European, Rajasthani and Mughal styles</p>
                                <div class="blog-author">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-post-wrap">
                        <div class="blog-post-upper">
                            <img src="~/images/destinations/jammu/Dogra-Art-Gallery.jpeg" alt="Image">
                        </div>
                        <div class="blog-post-detail">
                            <div class="blog-content blog-content-1">
                                <div class="blog-date"><p><i class="fa fa-clock-o"></i> Jammu</p></div>
                                <h3><a href="javascript:void(0);">DOGRA ART GALLERY</a></h3>
                                <p>Dogra Art Gallery is located in the Pink Hall of the Mubarak Mandi Palace Complex which lures each and every visitor with its unique collection of paintings. This art museum is a rich repository that displays rare paintings possessing immense artistic value. Other than paintings, there are various other objects in the Dogra Art Gallery as well.</p>
                                <div class="blog-author">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-post-wrap">
                        <div class="blog-post-upper">
                            <img src="~/images/destinations/jammu/Rani-Park.jpeg" alt="Image">
                        </div>
                        <div class="blog-post-detail">
                            <div class="blog-content blog-content-1">
                                <div class="blog-date"><p><i class="fa fa-clock-o"></i> Jammu</p></div>
                                <h3><a href="javascript:void(0);">RANI PARK</a></h3>
                                <p>Rani Park is one of the peaceful parks of the Jammu city. This place offers the residents a possibility to take a break for a while and unwind. People come and meet each other, read books, plan a get together with friends, meditate, admire the greenery, sit under a tree, etc in their free time.</p>
                                <div class="blog-author">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="blog-wrapper">
                    <div class="blog-post-wrap">
                        <div class="blog-post-upper">
                            <img src="~/images/destinations/jammu/Amar-Mahal.jpeg" alt="Image">
                        </div>
                        <div class="blog-post-detail">
                            <div class="blog-content blog-content-1">
                                <div class="blog-date"><p><i class="fa fa-clock-o"></i>Jammu</p></div>
                                <h3><a href="javascript:void(0);">AMAR MAHAL</a></h3>
                                <p>Amar Mahal is one of the magnificent monuments of the Dogra rule era. It was built in the 1890s with the European style architecture. It has been used till late 1967 also by the late queen Tara Devi Wife of Late Maharaja Hari Singh. After this their son converted the Palace into a Museum and an art exchange place. The museum is now under the care of Hari-Tara charitable trust</p>
                                <div class="blog-author">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-post-wrap">
                        <div class="blog-post-upper">
                            <img src="~/images/destinations/jammu/Bagh-e-Bahu.jpg" alt="Image">
                        </div>
                        <div class="blog-post-detail">
                            <div class="blog-content blog-content-1">
                                <div class="blog-date"><p><i class="fa fa-clock-o"></i>Jammu</p></div>
                                <h3><a href="javascript:void(0);">BAGH E BAHU</a></h3>
                                <p>It is a Mughal Garden which is blessed with a serene ambience and environment and has a widespread of majestic lawns, incessant blooming flowers and some grand looking fountains. This Bagh-e-Bahu garden has got its name from yesteryear’s king Bahu Lochan’s magnum opus creation which is the ancient Bahu Fort.</p>
                                <div class="blog-author">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-post-wrap">
                        <div class="blog-post-upper">
                            <img src="~/images/destinations/jammu/Manda-Zoo.jpeg" alt="Image">
                        </div>
                        <div class="blog-post-detail">
                            <div class="blog-content blog-content-1">
                                <div class="blog-date"><p><i class="fa fa-clock-o"></i>Jammu</p></div>
                                <h3><a href="javascript:void(0);">MANDA ZOO</a></h3>
                                <p>Manda Zoo has attractive assembelage of butterflies like Peacock Pansy, Blue Pansy, Grass Yellow, Lime Butterfly, Sailor, Plain Tiger, waterfowl including Mallard, Coot, Spotbilled duck, Barheaded geese, elegant peafowls, Parakeets, Barking deer, Hog deer, Sambar, Cheetal , Neelgai, Porcupine, Himalayan Black Bear, Leopard, Pangolin. Python, Monitor Lizard, Black Partridge, Grey Partridge and exotic birds like Turkey and Emu are also seen in the wildlife sanctuary.</p>
                                <div class="blog-author">
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="blog-post-wrap">
                        <div class="blog-post-upper">
                            <img src="~/images/destinations/jammu/Rajender-Park.jpeg" alt="Image">
                        </div>
                        <div class="blog-post-detail">
                            <div class="blog-content blog-content-1">
                                <div class="blog-date"><p><i class="fa fa-clock-o"></i>Jammu</p></div>
                                <h3><a href="javascript:void(0);">RAJENDER PARK</a></h3>
                                <p>Built along the Ranbir Canal covering a distance of a kilometer the park gets its name from Dr. Rajinder Prasad late President of India who was given a reception by people of Jammu here. The park has been smartened up by the Jammu and Kashmir Bank some time back and is a favourite get away for the people especially in summers for the ice cold waters of the Canal.</p>
                                <div class="blog-author">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>