@page
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "Kashmir";
}

<section class="breadcrumb-outer text-center">
    <div class="container">
        <div class="breadcrumb-content">
            <h2>@ViewData["Title"]</h2>
            <nav aria-label="breadcrumb">
                <ul class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/destinations">Destinations</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="section-overlay"></div>
</section>


<section class="blog-list grid-list">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-lg-6">
                <div class="blog-wrapper">
                    <div class="blog-post-wrap">
                        <div class="blog-post-upper">
                            <img src="~/images/destinations/kashmir/Shankaracharya-Temple.jpg" alt="Image">
                        </div>
                        <div class="blog-post-detail">
                            <div class="blog-content blog-content-1">
                                <div class="blog-date"><p><i class="fa fa-clock-o"></i>Srinagar</p></div>
                                <h3><a href="javascript:void(0);">SHANKARACHARYA</a></h3>
                                <p>It is located on the top of Zabarwan Hill at a height of 1,000 feet above the valley floor.</p>
                                <div class="blog-author">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-post-wrap">
                        <div class="blog-post-upper">
                            <img src="~/images/destinations/kashmir/chashma.jpg" alt="Image">
                        </div>
                        <div class="blog-post-detail">
                            <div class="blog-content blog-content-1">
                                <div class="blog-date"><p><i class="fa fa-clock-o"></i> Srinagar</p></div>
                                <h3><a href="javascript:void(0);">CHASHMA SHAHI</a></h3>
                                <p>Built by the Ali Mardan Khan in 1632, during the reign of Mughal emperor Shah Jahan, Chasma Shahi is amongst the major tourist attractions in Kashmir. This garden was commissioned by then Mughal Emperor Shah Jahan for his eldest and favorite son Dara Sikoh. Shah Jahan had it built on the slopes of the Zabarwan Mountains, around a natural spring. And the garden retains this spring, even in its present form. This natural spring sprouts from the first terrace of the garden, which further makes its way to the second and third terrace. As water from the first terrace pours into the second level, it meets a large pool, which has a fountain situated in the center of it. Some also believe that the water of this natural spring has medicinal properties.</p>
                                <div class="blog-author">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-post-wrap">
                        <div class="blog-post-upper">
                            <img src="~/images/destinations/kashmir/nishat.jpg" alt="Image">
                        </div>
                        <div class="blog-post-detail">
                            <div class="blog-content blog-content-1">
                                <div class="blog-date"><p><i class="fa fa-clock-o"></i> Srinagar</p></div>
                                <h3><a href="javascript:void(0);">NISHAT BAGH</a></h3>
                                <p>A garden of bliss, a garden of joy, a garden of delight, whatever one chooses to call it, Nishat Bagh in Srinagar is exceptionally beautiful in every sense of the word. If one looks back in the pages of history, the Mughal era is likely to feel the most dominating one in Kashmir. After dethroning the mightiest of kings, these rulers of Persia set their foot in Kashmir in the 16th century. It was the sheer beauty of the valley that enticed them to conquer and rule. The glory days came with Jahangir, who was an avid art lover and who developed an undaunted love for Kashmir. He set the pace for the construction of some of the most splendid attractions in Kashmir, and that includes Nishat Bagh as well.</p>
                                <div class="blog-author">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-post-wrap">
                        <div class="blog-post-upper">
                            <img src="~/images/destinations/kashmir/hazratbal.jpg" alt="Image">
                        </div>
                        <div class="blog-post-detail">
                            <div class="blog-content blog-content-1">
                                <div class="blog-date"><p><i class="fa fa-clock-o"></i>Srinagar</p></div>
                                <h3><a href="javascript:void(0);">HAZRATBAL SHRINE</a></h3>
                                <p>Dargah hazratbal shrine is located near the Famous Dal lake. It takes around 11 years to complete its famous mosque.</p>
                                <div class="blog-author">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-post-wrap">
                        <div class="blog-post-upper">
                            <img src="~/images/destinations/kashmir/manasbal.jpg" alt="Image">
                        </div>
                        <div class="blog-post-detail">
                            <div class="blog-content blog-content-1">
                                <div class="blog-date"><p><i class="fa fa-clock-o"></i>Srinagar</p></div>
                                <h3><a href="javascript:void(0);">MANASBAL</a></h3>
                                <p>The lake is a good place for birdwatching as it is one of the largest natural stamping grounds of Aquatic birds in Kashmir and has the sobriquet of "supreme gem of all Kashmir Lakes".</p>
                                <div class="blog-author">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-post-wrap">
                        <div class="blog-post-upper">
                            <img src="~/images/destinations/kashmir/pahalgam.jpg" alt="Image">
                        </div>
                        <div class="blog-post-detail">
                            <div class="blog-content blog-content-1">
                                <div class="blog-date"><p><i class="fa fa-clock-o"></i>Anantnag</p></div>
                                <h3><a href="javascript:void(0);">PAHALGAM</a></h3>
                                <p>
                                    Pahalgam is one of the famous health resorts of Jammu and Kashmir State. It is situated in the north east of District Anantnag among lofty hills covered with evergreen forests. It is cool invigorating and pleasant climate, the melodious flow of Lidder Nallah attract tourists not only from within the country but also from abroad as well. It is also an important transit camp on the way to holy Amar Nath Ji Cave, which is 72 Kms away from the District Head-Quarter.
                                </p>
                                <div class="blog-author">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-post-wrap">
                        <div class="blog-post-upper">
                            <img src="~/images/destinations/kashmir/pahalgam.jpg" alt="Image">
                        </div>
                        <div class="blog-post-detail">
                            <div class="blog-content blog-content-1">
                                <div class="blog-date"><p><i class="fa fa-clock-o"></i>Anantnag</p></div>
                                <h3><a href="javascript:void(0);">KOKERNAG</a></h3>
                                <p>
                                    Kokernag is one of the largest botanical garden in Kashmir,located in Anantnag district and at a distance of 70 km from srinagar. Kokernag is a blend of all delicate components of natural beauty that attracts tourists from all over the world. The Place is famous for gardens, largest fresh water springs and its trout stocked streams. A famous spring called “Kokernag” gushes out from the foot of the nearby hill covered with evergreen pine trees. A terraced garden and a Botanical garden with delicately maintained flower beds of different varieties and hues covered and protected with beautifully pruned evergreen shrubs and the existence of lofty and majestic chinars is an enchanting sight to be imbibed. The music of the health giving, refreshing and appetizing running waters of the stream have left little chances of not to be enchanted and mesmerized by this heavenly touch. Many fascinating destinations are found in this area including Daksum, Sinthan Top, Margan Top, Botanical Garden, Trout Fish Hatchery and Achabal.
                                </p>
                                <div class="blog-author">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-post-wrap">
                        <div class="blog-post-upper">
                            <img src="~/images/destinations/kashmir/sonmarg.jpg" alt="Image">
                        </div>
                        <div class="blog-post-detail">
                            <div class="blog-content blog-content-1">
                                <div class="blog-date"><p><i class="fa fa-clock-o"></i>Anantnag</p></div>
                                <h3><a href="javascript:void(0);">SONAMARG</a></h3>
                                <p>
                                    Sonamarg is situated at an altitude of 2730 m and is at a distance of about 80 kms from Srinagar. It is a mesmerizing hill station in the Ganderbal district of Jammu and Kashmir and it means ‘the meadow of gold’, covered with snow-capped mountains set against a spectacular blue sky, it is as close to heaven as it can get. The visitors can have access to snow which is furnished all over like a white carpet. Ponies can be hired for the trip up to Thajiwas glacie,r a major attraction during the summer months.From Sonamarg, trekking routes lead to the Himalayan lakes of Vishansar Lake, Krishansar Lake, Gangabal Lake and Gadsar Lake, stocked with Snowtrout and Brown trout and Satsar, glacier-fed and surrounded by banks of alpine flowers. A close by excursion is to Baltal, 15 km east of Sonamarg. This little valley lies at the foot of the Zojila, only a day’s journey away from the sacred cave of Amarnath, base camp for Amarnath yatra.
                                </p>
                                <div class="blog-author">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="blog-wrapper">
                    <div class="blog-post-wrap">
                        <div class="blog-post-upper">
                            <img src="~/images/destinations/kashmir/dal-lake.jpg" alt="Image">
                        </div>
                        <div class="blog-post-detail">
                            <div class="blog-content blog-content-1">
                                <div class="blog-date"><p><i class="fa fa-clock-o"></i>Srinagar</p></div>
                                <h3><a href="javascript:void(0);">DAL LAKE</a></h3>
                                <p>Dal lake is the most famous lake amongst all the lakes of kashmir Valley, where a large number of houseboats can be seen along with floating shikaras.</p>
                                <div class="blog-author">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-post-wrap">
                        <div class="blog-post-upper">
                            <img src="~/images/destinations/kashmir/Tulip.jpg" alt="Image">
                        </div>
                        <div class="blog-post-detail">
                            <div class="blog-content blog-content-1">
                                <div class="blog-date"><p><i class="fa fa-clock-o"></i>Srinagar</p></div>
                                <h3><a href="javascript:void(0);">TULIP GARDEN</a></h3>
                                <p>Snuggled on the banks of Dal Lake, Indira Gandhi is full of colorful Tulip flowers in the month of May & June. This is one of the most beautiful and exotic gardens in Srinagar where one can experience unavoidable beauty. A walk amidst endless rows of blooming Tulips will offer you an amazing feeling. This man-made garden is a sight to behold by everyone who visits Kashmir. In fact, your vacations are incomplete without visiting India Gandhi Memorial Tulip Garden in Srinagar. There are several other flowers as well except tulips including Roses, Muscaria, Iris, Daffodils, Hyacinths, and Ranunculi etc. that add extra glory to the place.</p>
                                <div class="blog-author">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-post-wrap">
                        <div class="blog-post-upper">
                            <img src="~/images/destinations/kashmir/parimahal.jpg" alt="Image">
                        </div>
                        <div class="blog-post-detail">
                            <div class="blog-content blog-content-1">
                                <div class="blog-date"><p><i class="fa fa-clock-o"></i>Srinagar</p></div>
                                <h3><a href="javascript:void(0);">PARI MAHAL</a></h3>
                                <p>The family legacy of building architectural wonders continued after Shah Jahan as well. This time it was the son, who contributed in the Mughal art form. The eldest son of Emperor Shah Jahan, Prince Dara Shikoh built Pari Mahal in Kashmir in the year 1650 AD. Pari Mahal Garden sits on top of Zabarwan Mountain range in Kashmir, quite close to the Dal Lake. Built as per the guidelines of Persian architecture and Char Bagh concept, the garden, which is built around the Pari Mahal is segmented into seven terraces and has no water fountains like the other Mughal gardens in Kashmir. The reason it was named as Pari Mahal, which means the fairies adobe, was the structure, which looks like an enchanting fairytale castle.It is located on the top of Shankaraacharya Hill at a height of 1,000 feet above the valley floor.</p>
                                <div class="blog-author">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-post-wrap">
                        <div class="blog-post-upper">
                            <img src="~/images/destinations/kashmir/shalimar.jpg" alt="Image">
                        </div>
                        <div class="blog-post-detail">
                            <div class="blog-content blog-content-1">
                                <div class="blog-date"><p><i class="fa fa-clock-o"></i>Srinagar</p></div>
                                <h3><a href="javascript:void(0);">SHALIMAR BAGH</a></h3>
                                <p>Another enchanting creation, built under the eyes of the Mughal emperor Jahangir and this time built entirely by him, Shalimar Bagh is amongst the finest gardens in Kashmir, which were ever built by this Muslim dynasty. But before moving on to its description, its history must be given due attention. In the second century, King Pravarsena II founded the city of Srinagar. During his reign, he built a cottage for himself on the banks of Dal Lake, which he named as Shalimar. But one thing that remained the same was its name, Shalimar. This name got carried forward in the coming centuries, and in the 16th century, when Jahangir came to this place; he built a royal garden on the sight of it, and named it Shalimar Bagh. In order to please his queen, the emperor built this royal garden and today, in the 21st century, it is the pride of Kashmir valley.</p>
                                <div class="blog-author">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-post-wrap">
                        <div class="blog-post-upper">
                            <img src="~/images/destinations/kashmir/Doodpathri.jpg" alt="Image">
                        </div>
                        <div class="blog-post-detail">
                            <div class="blog-content blog-content-1">
                                <div class="blog-date"><p><i class="fa fa-clock-o"></i>Srinagar</p></div>
                                <h3><a href="javascript:void(0);">DOODPATHRI</a></h3>
                                <p>DOODPATHRI Doodhpathri is known as the valley of milk is one of the best hill station of kashmir valley. It is located in the budgam district of jammu and kashmir which is about 42 kms away from Srinagar city. Doodhpathri is rich in the production of huge quantity of milk and thus the name has been given to the place. Doodhpathri is unknown to the most of tourists, as usually the tourists visit pahalgam, sonamarg and gulmarg. Doodhpathri is very beautiful place better to visit doodhpathri and feel the love of nature.</p>
                                <div class="blog-author">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-post-wrap">
                        <div class="blog-post-upper">
                            <img src="~/images/destinations/kashmir/Betaab-valley.jpeg" alt="Image">
                        </div>
                        <div class="blog-post-detail">
                            <div class="blog-content blog-content-1">
                                <div class="blog-date"><p><i class="fa fa-clock-o"></i>Srinagar</p></div>
                                <h3><a href="javascript:void(0);">BETAAB VALLEY</a></h3>
                                <p>Located at a distance of 15 km from Pahalgam, Betaab Valley, earlier known as Hagan Valley, was rechristened as Betaab Valley after the hit Bollywood movie ‘Betaab’ was shot here in the year 1983. One of the three beautiful valleys, along with Chandanwari and Aru, Betaab valley in Pahalgam is a complete package of tranquility, pleasant weather, and scenic surroundings. The valley lies on the route of Amarnath cave. Surrounded by snowy peaks sprinkled with pine and deodar forests, Betaab valley is a must-visit attraction in Pahalgam, one can feel away from the stress of city life. The colored floral beds and lush green carpets make Betaab Valley’s landscape more stunning and cast magic on the on-looker. That is the top reason to visit Betaab valley in Pahalgam.</p>
                                <div class="blog-author">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-post-wrap">
                        <div class="blog-post-upper">
                            <img src="~/images/destinations/kashmir/gulmarg.jpg" alt="Image">
                        </div>
                        <div class="blog-post-detail">
                            <div class="blog-content blog-content-1">
                                <div class="blog-date"><p><i class="fa fa-clock-o"></i>Srinagar</p></div>
                                <h3><a href="javascript:void(0);">GULMARG</a></h3>
                                <p>Gulmarg ,means ‘Meadow of flowers’ is located 60 KMs away from Srinagar. Gulmarg has attracted millions of tourists throughout its existence with the scenic beauty of the Himalayan Mountains in the back drop. One of the main attractions in Gulmarg is the Gulmarg Gondola, the Highest Cable Car in the world. The 1st phase of the Gondola takes tourists to the height of 8530 ft to Kongdori Station and the second stage of the Gondola goes up to the height of 12293 ft. Tourists can enjoy horse Riding and can go riding to the magnificent “Strawberry Valley”, Leopards Valley and ride up to “Kongdori” to see the frozen lake of “Al- Pathar”. Gulmarg in winter is a magnificent experience, fully covered in a white blanket of Snow which turns it into a skiers paradise and is one of the most popular skiing destination. Besides the scenic side to Gulmarg, winter time in Gulmarg is a season of festivities with celebrations of “White Christmas” and New Year parties. Gulmarg has been a resort for the kings like Yousuf Shah Chak and Jahangir who used to visit frequently.</p>
                                <div class="blog-author">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-post-wrap">
                        <div class="blog-post-upper">
                            <img src="~/images/destinations/kashmir/Aharbal.jpeg" alt="Image">
                        </div>
                        <div class="blog-post-detail">
                            <div class="blog-content blog-content-1">
                                <div class="blog-date"><p><i class="fa fa-clock-o"></i>Srinagar</p></div>
                                <h3><a href="javascript:void(0);">AHARBAL</a></h3>
                                <p>Aharbal is also known as “Niagara Falls of Kashmir”, about 70 km from Srinagar. It is one of the most popular tourist attractions. The place is quite peaceful and suitable for expeditions, trekking, photography, and fishing. Due to mesmerising look of meadows, pine and fir tree forests, the snow clad mountains and the waterfall, attracts many tourists. The waterfall located here is one of the magnificent waterfalls with emerald blue water flushing out from the top to flow into the Veshu river, a tributary of Jhelum. It is closer to Sopian area and falls in Kulgam district.</p>
                                <div class="blog-author">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>