@page
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "Katra";
}

<section class="breadcrumb-outer text-center">
    <div class="container">
        <div class="breadcrumb-content">
            <h2>@ViewData["Title"]</h2>
            <nav aria-label="breadcrumb">
                <ul class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/destinations">Destinations</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="section-overlay"></div>
</section>


<section class="blog-list grid-list">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-lg-6">
                <div class="blog-wrapper">
                    <div class="blog-post-wrap">
                        <div class="blog-post-upper">
                            <img src="~/images/destinations/katra/MATA-VAISHNU.jpeg" alt="Image">
                        </div>
                        <div class="blog-post-detail">
                            <div class="blog-content blog-content-1">
                                <div class="blog-date"><p><i class="fa fa-clock-o"></i>Katra</p></div>
                                <h3><a href="javascript:void(0);">MATA VAISHNU</a></h3>
                                <p>This temple is located about 13.5 kms away from the main city centre of katrakatra, where pilgrims can travel via trekking, ponies, electric vehicle or via choppers for which a pilgrim has to buy a ticket online or offline.</p>
                                <div class="blog-author">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-post-wrap">
                        <div class="blog-post-upper">
                            <img src="~/images/destinations/katra/BABA-DHANSAR.jpeg" alt="Image">
                        </div>
                        <div class="blog-post-detail">
                            <div class="blog-content blog-content-1">
                                <div class="blog-date"><p><i class="fa fa-clock-o"></i> Katra</p></div>
                                <h3><a href="javascript:void(0);">BABA DHANSAR</a></h3>
                                <p>Baba Dhansar is situation about 17 kms away from katra city where one has to walk around 200 kms by foot to reach the place from main road. So one should take better shoes and clothes whenever planned to visit such place.</p>
                                <div class="blog-author">
                                </div>
                            </div>
                        </div>
                    </div>
                  

                </div>
            </div>
            <div class="col-lg-6">
                <div class="blog-wrapper">
                    <div class="blog-post-wrap">
                        <div class="blog-post-upper">
                            <img src="~/images/destinations/katra/SHIVKHORI.jpeg" alt="Image">
                        </div>
                        <div class="blog-post-detail">
                            <div class="blog-content blog-content-1">
                                <div class="blog-date"><p><i class="fa fa-clock-o"></i>Katra</p></div>
                                <h3><a href="javascript:void(0);">SHIVKHORI</a></h3>
                                <p>Shivkhori is a natural cave which is located about 80 kms away from katra and is around 01 metre in width and 200 mts in lenght where just one to two people can walk at a time.</p>
                                <div class="blog-author">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-post-wrap">
                        <div class="blog-post-upper">
                            <img src="~/images/destinations/katra/NAU-DEVI-CAVE.jpeg" alt="Image">
                        </div>
                        <div class="blog-post-detail">
                            <div class="blog-content blog-content-1">
                                <div class="blog-date"><p><i class="fa fa-clock-o"></i>Katra</p></div>
                                <h3><a href="javascript:void(0);">NAU DEVI CAVE</a></h3>
                                <p>Nau Devi temple or the temple of 9 Goddesses is situated about 10 kms away from Katra. This cave is very old enclosing by a river. On important thing to keep in mind is that one should wear good quality/strong clothes as at some places crawling is involved.</p>
                                <div class="blog-author">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-post-wrap">
                        <div class="blog-post-upper">
                            <img src="~/images/destinations/katra/JHAJJAR-KOTLI.jpeg" alt="Image">
                        </div>
                        <div class="blog-post-detail">
                            <div class="blog-content blog-content-1">
                                <div class="blog-date"><p><i class="fa fa-clock-o"></i> Katra</p></div>
                                <h3><a href="javascript:void(0);">JHAJJAR KOTLI</a></h3>
                                <p>Jhajjar Kotli is the famous tourists spot area where a large number of tourists are visiting and in which most are foreign travelers. The stream at Jhajjar falls creates a pleasant sight as it flows in a very smooth way, that it attracks the each eye and one wants to spend more and more time here.</p>
                                <div class="blog-author">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>