@page
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "Ladakh";
}

<section class="breadcrumb-outer text-center">
    <div class="container">
        <div class="breadcrumb-content">
            <h2>@ViewData["Title"]</h2>
            <nav aria-label="breadcrumb">
                <ul class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/destinations">Destinations</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="section-overlay"></div>
</section>


<section class="blog-list grid-list">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-lg-6">
                <div class="blog-wrapper">
                    <div class="blog-post-wrap">
                        <div class="blog-post-upper">
                            <img src="~/images/destinations/ladakh/Pangong.jpeg" alt="Image">
                        </div>
                        <div class="blog-post-detail">
                            <div class="blog-content blog-content-1">
                                <div class="blog-date"><p><i class="fa fa-clock-o"></i>Srinagar</p></div>
                                <h3><a href="javascript:void(0);">PANGONG LAKE</a></h3>
                                <p>Pangong Lake, one of the most famous lakes in Leh Ladakh, derives its name from the Tibetan word, “Pangong Tso”, which means “high grassland lake. It’s Crystal clear waters, amazing scenic view of the mountains in the backdrop make for stunning photo shoots Pangong Tso is popular for its changing colour ability. Its colour changes from shades of blue to green to red. It is one of the highest altitude lakes in the world that is filled with saline water. It is located at an altitude of 4350 m above the sea level. Extending to almost 160km, one-third of the Pangong Lake lies in India and the other two-thirds in China. The 3 idiots famous final scene was shot here. Owing to its altitude, the Pangong Lake temperature ranges from -5°C to 10°C as a result of which it freezes completely during winters in spite of its salinity.</p>
                                <div class="blog-author">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-post-wrap">
                        <div class="blog-post-upper">
                            <img src="~/images/destinations/ladakh/Nubra.jpeg" alt="Image">
                        </div>
                        <div class="blog-post-detail">
                            <div class="blog-content blog-content-1">
                                <div class="blog-date"><p><i class="fa fa-clock-o"></i> Srinagar</p></div>
                                <h3><a href="javascript:void(0);">NUBRA VALLEY</a></h3>
                                <p>Nubra valley also called Dumra means a “valley of flowers”, known for its orchards, scenic vistas, Bactrian camels and monasteries. Nubra Valley is the northernmost part of Jammu and Kashmir,situated about 150 km from Leh,. Nubra Valley is particularly famous for its high-altitude cold desert in Hunder Village. It is amongst the top attractions of the valley, followed by Khardung La (mountain pass connecting Leh and Nubra), which is the second-highest motorable pass in the world. Nubra Valley is known for its marvellous sand dunes and there is nothing better than having a camel ride amidst those magnificent dunes.</p>
                                <div class="blog-author">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-post-wrap">
                        <div class="blog-post-upper">
                            <img src="~/images/destinations/ladakh/Magnetic.jpeg" alt="Image">
                        </div>
                        <div class="blog-post-detail">
                            <div class="blog-content blog-content-1">
                                <div class="blog-date"><p><i class="fa fa-clock-o"></i> Srinagar</p></div>
                                <h3><a href="javascript:void(0);">MAGNETIC HILL</a></h3>
                                <p>A gravity hill, also known as a magnetic hill, mystery hill, mystery spot, gravity road, or anti-gravity hill, is a place where the layout of the surrounding land produces an optical illusion, making a slight downhill slope appear to be an uphill slope. Lying at a distance of around 30 km from Leh, the Magnetic Hill is marked by a yellow signboard which reads “The Phenomenon That Defies Gravity”. It also instructs you to park your vehicles in the box marked with a white point on the road, which is known as the Magnetic Road.</p>
                                <div class="blog-author">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="blog-wrapper">
                    <div class="blog-post-wrap">
                        <div class="blog-post-upper">
                            <img src="~/images/destinations/ladakh/Khardungla.jpeg" alt="Image">
                        </div>
                        <div class="blog-post-detail">
                            <div class="blog-content blog-content-1">
                                <div class="blog-date"><p><i class="fa fa-clock-o"></i>Srinagar</p></div>
                                <h3><a href="javascript:void(0);">KHARDUNGLA PASS</a></h3>
                                <p>Khardung La (Khardung Pass, la means pass in Tibetan) is a mountain pass in the Ladakh region of the Indian state of Jammu and Kashmir.Famously known as the gateway to the Nubra and Shyok Valleys in the Ladakh region of Jammu and Kashmir. It is the highest motorable pass in the world at an elevation of 5602 metres. However, contrary to the belief, its actual elevation is 5359 metres making Dungri La the highest motorable road pass in India.It is filled with tourists crossing over from Leh and stopping long enough to click some photographs.The clear air, scenic vistas and the feeling of being on top of the world have made Khardung La a popular tourist attraction. Khardung La pass is a perfect getaway for adventure enthusiasts, peace seekers and mountain biking aficionados An Inner Line Permit is required by the tourists to enter the pass and travel through it. Due to heavy rains and snowfall, the Khardung La pass remains closed from October to May.</p>
                                <div class="blog-author">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-post-wrap">
                        <div class="blog-post-upper">
                            <img src="~/images/destinations/ladakh/Shanti-Stupa.jpeg" alt="Image">
                        </div>
                        <div class="blog-post-detail">
                            <div class="blog-content blog-content-1">
                                <div class="blog-date"><p><i class="fa fa-clock-o"></i>Srinagar</p></div>
                                <h3><a href="javascript:void(0);">SHANTI STUPA</a></h3>
                                <p>Shanti Stupa is also known as the Vishwa Shanti Stupa, situated at a height of 4267 meters overlooking the Leh city, the Shanti stupa gives a panoramic view of surrounding snow capped mountains. It is at a distance of about 5 km drive able road from the Leh city or one can climb 500 steps to reach here. It is an important place of pilgrimage for Buddhists. The towering stupa is made of marble and there are brilliantly intricate statues of the Lord Buddha here. It is known primarily as being a destination for spirituality and photography.</p>
                                <div class="blog-author">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-post-wrap">
                        <div class="blog-post-upper">
                            <img src="~/images/destinations/ladakh/Kargil.jpeg" alt="Image">
                        </div>
                        <div class="blog-post-detail">
                            <div class="blog-content blog-content-1">
                                <div class="blog-date"><p><i class="fa fa-clock-o"></i>Srinagar</p></div>
                                <h3><a href="javascript:void(0);">KARGIL</a></h3>
                                <p>Kargil is a peaceful and immensely beautiful city, which serves as a famous spot for tourists year after year. Nestled right in the middle of the massive, naked mountains of the Himalayas, with the pristine waters of the Indus flowing right beside it, Kargil is nothing short of a piece of heaven. Kargil serves as an excellent destination for adventure activities such as trekking, camping, mountaineering, river rafting etc. Some of the major tourist attractions in this region are the Zanskar Valley, Kargil War Memorial, Mulbekh Monastery, Rangdum Monastery, Suru Valley, Kargil Pensi La Lake, while the top things to do are enjoy photography, picnic & mountaineering expedition to Nun Kun Massif.</p>
                                <div class="blog-author">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>