@page
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "Amarnath";
}

<section class="breadcrumb-outer text-center" style="background: url(../images/slider/s2.jpg); background-position:center;background-position-x: right;">
    <div class="container">
        <div class="breadcrumb-content">
            <h2>@ViewData["Title"]</h2>
            <nav aria-label="breadcrumb">
                <ul class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/packs">Packages</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="section-overlay"></div>
</section>

<section class="destinations">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="destination-outer">
                    <div class="destination-fw-item">
                        <div class="row align-items-center">
                            <div class="col-lg-3">
                                <div class="destination-fw-image">
                                    <img src="~/images/package/amarnath/p1-a.jpeg" alt="Image">
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="destination-fw-desc fw-content">
                                    <h2><a href="javascript:void(0);">4 NIGHTS / 5 DAYS</a></h2>
                                    <ul>
                                        <li><i class="font-weight-bold">Destinations:</i> Srinagar - Sonamarg - Amarnath Ji Darshan</li>
                                        <li><i class="font-weight-bold">Accomodations: </i> 2N Sonamarg Hotel + 1N Srinagar Houseboat + 1N Srinagar Hotel</li>
                                        <li><i class="font-weight-bold">Inclusions:</i> Daily Breakfast / Dinner, 1 Hour Shikara Ride, All transfers & Sight Seeing by AC/Non AC Cabs, All Toll taxes, Parking charges, Wifi Services, Fuel Cost, Driver Charges, Chopper tickets on demand, Permits on demand.</li>
                                        <li><i class="font-weight-bold">Cabs Offered:</i> Etios, Swift Desire, Innova, Innova Crysta, Tempo, Mini Bus</li>
                                        <li><i class="font-weight-bold">Pick & Drop:</i> Srinagar Airport / TRC</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="deal-rating">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star-o"></span>
                                    <span class="fa fa-star-o"></span>
                                </div>
                                <div class="fw-btns">
                                    <div class="fw-price"><p>Starts from:<span class="bold">₹ 13,500</span> Per Person</p></div>
                                    <div class="destination-btns">
                                        <a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom" class="btn-blue btn-red" tabindex="0">Ebquiry Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="destination-fw-item">
                        <div class="row align-items-center">
                            <div class="col-lg-2">
                                <div class="deal-rating">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star-o"></span>
                                    <span class="fa fa-star-o"></span>
                                </div>
                                <div class="fw-btns">
                                    <div class="fw-price"><p>Starts from:<span class="bold">₹ 16,800</span>  Per Person</p></div>
                                    <div class="destination-btns">
                                        <a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom" class="btn-blue btn-red" tabindex="0">Equiry Now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="destination-fw-desc fw-content">
                                    <h2><a href="javascript:void(0);">5NIGHTS / 6DAYS</a></h2>
                                  
                                    <ul>
                                        <li><i class="font-weight-bold">Destinations:</i> Srinagar - Sonamarg - Amarnath Ji Darshan - Pahalgam</li>
                                        <li><i class="font-weight-bold">Accomodations: </i> 2N Sonamarg Hotel + 1N Srinagar Houseboat + 2N Srinagar Hotel</li>
                                        <li><i class="font-weight-bold">Inclusions:</i> Daily Breakfast / Dinner, 1 Hour Shikara Ride, All transfers & Sight Seeing by AC/Non AC Cabs, All Toll taxes, Parking charges, Wifi Services, Fuel Cost, Driver Charges, Chopper tickets on demand, Permits on demand.</li>
                                        <li><i class="font-weight-bold">Cabs Offered:</i> Etios, Swift Desire, Innova, Innova Crysta, Tempo, Mini Bus.</li>
                                        <li><i class="font-weight-bold">Pick & Drop:</i> Srinagar Airport / TRC</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="destination-fw-image">
                                    <img src="~/images/package/amarnath/p2-a.jpeg" alt="Image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

