@page
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "Katra";
}

<section class="breadcrumb-outer text-center">
    <div class="container">
        <div class="breadcrumb-content">
            <h2>@ViewData["Title"]</h2>
            <nav aria-label="breadcrumb">
                <ul class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/packs">Packages</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="section-overlay"></div>
</section>

<section class="destinations">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="destination-outer">
                    <div class="destination-fw-item">
                        <div class="row align-items-center">
                            <div class="col-lg-3">
                                <div class="destination-fw-image">
                                    <img src="~/images/package/katra/p-katra.jpeg" alt="Image">
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="destination-fw-desc fw-content">
                                    <h2><a href="javascript:void(0);">MATA VAISHNODEVI PACKAGE</a></h2>
                                    <h6 class="font-italic">
                                        <a href="javascript:void(0);" class="text-danger">2NIGHTS/ 3DAYS</a>
                                    </h6>
                                    <ul>
                                        <li><i class="font-weight-bold">Destinations:</i> Jammu, Katra</li>
                                        <li><i class="font-weight-bold">Accomodations: </i> 2N in Katra</li>
                                        <li><i class="font-weight-bold">Inclusions:</i> Breakfast & Dinner, All transfers and sight seeing by AC/ non AC cabs, All toll taxes parking and driver allowances, Wifi services, Fuel cost.</li>
                                        <li><i class="font-weight-bold">Cabs Offered:</i>  Innova,Innova Crysta Etios, Tavera, Winger, Tempo traveller, Sedan</li>
                                        <li><i class="font-weight-bold">Pick & Drop:</i> Jammu Airport/Railway station</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="deal-rating">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star-o"></span>
                                    <span class="fa fa-star-o"></span>
                                </div>
                                <div class="fw-btns">
                                    <div class="fw-price"><p>Starts from:<span class="bold">₹ 10,999</span> Per Person</p></div>
                                    <div class="destination-btns">
                                        <a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom" class="btn-blue btn-red" tabindex="0">Enquiry Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

