@page
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "Ladakh";
}

<section class="breadcrumb-outer text-center">
    <div class="container">
        <div class="breadcrumb-content">
            <h2>@ViewData["Title"]</h2>
            <nav aria-label="breadcrumb">
                <ul class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/packs">Packages</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="section-overlay"></div>
</section>

<section class="destinations">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="destination-outer">
                    <div class="destination-fw-item">
                        <div class="row align-items-center">
                            <div class="col-lg-3">
                                <div class="destination-fw-image">
                                    <img src="~/images/package/ladakh/p1.jpg" alt="Image">
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="destination-fw-desc fw-content">
                                    <h2><a href="javascript:void(0);">Explore Ladakh</a></h2>
                                    <h6 class="font-italic">
                                        <a href="javascript:void(0);" class="text-danger">4NIGHTS / 5DAYS</a>
                                    </h6>
                                    <ul>
                                        <li><i class="font-weight-bold">Destinations:</i> Leh - Nubra - Pangong</li>
                                        <li><i class="font-weight-bold">Accomodations: </i> 2N Leh + 1N Pangong + 1N Nubra</li>
                                        <li><i class="font-weight-bold">Inclusions:</i> Daily Breakfast / Dinner, All transfers & Sight Seeing by AC/Non AC Cabs, All Toll taxes, Parking charges, Wifi Services, Fuel Cost, Driver Charges, Rafting on demand, ATV rides on demand, Camel Safari on demand, Bike rides on demand, Oxygen cylenders on demand.</li>
                                        <li><i class="font-weight-bold">Cabs Offered:</i> Ecco, Xylo, Scorpio, Innova, Innova Crysta, Tempo.</li>
                                        <li><i class="font-weight-bold">Pick & Drop:</i> Leh - Leh Airport</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="deal-rating">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star-o"></span>
                                    <span class="fa fa-star-o"></span>
                                </div>
                                <div class="fw-btns">
                                    <div class="fw-price"><p>Starts from:<span class="bold">₹ 17,000</span> Per Person</p></div>
                                    <div class="destination-btns">
                                        <a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom" class="btn-blue btn-red" tabindex="0">Enquiry Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="destination-fw-item">
                        <div class="row align-items-center">
                            <div class="col-lg-2">
                                <div class="deal-rating">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star-o"></span>
                                    <span class="fa fa-star-o"></span>
                                </div>
                                <div class="fw-btns">
                                    <div class="fw-price"><p>Starts from:<span class="bold">₹ 20,000</span>  Per Person</p></div>
                                    <div class="destination-btns">
                                        <a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom" class="btn-blue btn-red" tabindex="0">Enquiry Now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="destination-fw-desc fw-content">
                                    <h2><a href="javascript:void(0);">Moonland Explore</a></h2>
                                    <h6 class="font-italic"><a href="javascript:void(0);" class="text-danger">5 NIGHTS / 6 DAYS</a></h6>
                                    <ul>
                                        <li><i class="font-weight-bold">Destinations:</i>  Leh - Nubra - Pangong - Sangam valley</li>
                                        <li><i class="font-weight-bold">Accomodations: </i> 3N Leh + 1N Pangong + 1N Nubra</li>
                                        <li><i class="font-weight-bold">Inclusions:</i> Daily Breakfast / Dinner, All transfers & Sight Seeing by AC/Non AC Cabs, All Toll taxes, Parking charges, Wifi Services, Fuel Cost, Driver Charges, Rafting on demand, ATV rides on demand, Camel Safari on demand, Bike rides on demand, Oxygen cylenders on demand.</li>
                                        <li><i class="font-weight-bold">Cabs Offered:</i> Ecco, Xylo, Scorpio, Innova, Innova Crysta, Tempo.</li>
                                        <li><i class="font-weight-bold">Pick & Drop:</i> Leh - Leh Airport</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="destination-fw-image">
                                    <img src="~/images/package/ladakh/p2.jpg" alt="Image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="destination-fw-item">
                        <div class="row align-items-center">
                            <div class="col-lg-3">
                                <div class="destination-fw-image">
                                    <img src="~/images/package/ladakh/p3.jpg" alt="Image">
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="destination-fw-desc fw-content">
                                    <h2><a href="javascript:void(0);">Adventurous Ladakh</a></h2>
                                    <h6 class="font-italic"><a href="javascript:void(0);" class="text-danger">6 NIGHTS / 7 DAYS</a></h6>
                                    <ul>
                                        <li><i class="font-weight-bold">Destinations:</i> Leh - Nubra - Pangong - Sangam valley - Turtuk</li>
                                        <li><i class="font-weight-bold">Accomodations: </i> 3N Leh + 1N Pangong + 2N Nubra</li>
                                        <li><i class="font-weight-bold">Inclusions:</i> Daily Breakfast / Dinner, All transfers & Sight Seeing by AC/Non AC Cabs, All Toll taxes, Parking charges, Wifi Services, Fuel Cost, Driver Charges, Rafting on demand, ATV rides on demand, Camel Safari on demand, Bike rides on demand, Oxygen cylenders on demand.</li>
                                        <li><i class="font-weight-bold">Cabs Offered:</i> Ecco, Xylo, Scorpio, Innova, Innova Crysta, Tempo.</li>
                                        <li><i class="font-weight-bold">Pick & Drop:</i> Leh - Leh Airport</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="deal-rating">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star-o"></span>
                                    <span class="fa fa-star-o"></span>
                                </div>
                                <div class="fw-btns">
                                    <div class="fw-price"><p>Starts from:<span class="bold">₹ 24,000</span> Per Person</p></div>
                                    <div class="destination-btns">
                                        <a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom" class="btn-blue btn-red" tabindex="0">Enquiry Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="destination-fw-item">
                        <div class="row align-items-center">
                            <div class="col-lg-2">
                                <div class="deal-rating">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star-o"></span>
                                    <span class="fa fa-star-o"></span>
                                </div>
                                <div class="fw-btns">
                                    <div class="fw-price"><p>Starts from:<span class="bold">₹ 34,000</span> Per Person</p></div>
                                    <div class="destination-btns">
                                        <a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom" class="btn-blue btn-red" tabindex="0">Enquiry Now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="destination-fw-desc fw-content">
                                    <h2><a href="javascript:void(0);">Jewels of Ladakh</a></h2>
                                    <h6 class="font-italic"><a href="javascript:void(0);" class="text-danger">7 NIGHTS / 8 DAYS</a></h6>
                                    <ul>
                                        <li><i class="font-weight-bold">Destinations:</i> Leh - Nubra - Pangong - Sangam valley - Turtuk - Smoriri Lake</li>
                                        <li><i class="font-weight-bold">Accomodations: </i> 3N Leh + 1N Pangong + 2N Nubra + 1N Smoriri</li>
                                        <li><i class="font-weight-bold">Inclusions:</i> Daily Breakfast / Dinner, All transfers & Sight Seeing by AC/Non AC Cabs, All Toll taxes, Parking charges, Wifi Services, Fuel Cost, Driver Charges, Rafting on demand, ATV rides on demand, Camel Safari on demand, Bike rides on demand, Oxygen cylenders on demand.</li>
                                        <li><i class="font-weight-bold">Cabs Offered:</i> Ecco, Xylo, Scorpio, Innova, Innova Crysta, Tempo.</li>
                                        <li><i class="font-weight-bold">Pick & Drop:</i> Leh - Leh Airport</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="destination-fw-image">
                                    <img src="~/images/package/ladakh/p4.jpeg" alt="Image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

