@page
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "Gulmarg";
}

<section class="breadcrumb-outer text-center" style="background: url(../images/slider/s4.jpg); background-position:center;background-position-x: right;">
    <div class="container">
        <div class="breadcrumb-content">
            <h2>@ViewData["Title"]</h2>
            <nav aria-label="breadcrumb">
                <ul class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/hotels">Hotels</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="section-overlay"></div>
</section>


<section class="popular-packages pad-bottom-80 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="package-item">
                    <img src="~/images/hotels/gulmarg/Rosewood.jpg" style="height: 196px;" alt="ROSE WOOD">
                    <div class="package-content">
                        <h3><a href="javascript:void(0);">ROSE WOOD</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="package-item">
                    <img src="~/images/hotels/gulmarg/grandmumtaz.jpg" style="height: 196px;" alt="GRAND MUMTAZ">
                    <div class="package-content">
                        <h3><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom"></a>GRAND MUMTAZ</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="package-item">
                    <img src="~/images/hotels/gulmarg/vintage.jpg" style="height: 196px;" alt="KOLAHOI GREEN">
                    <div class="package-content">
                        <h3><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom">KOLAHOI GREEN</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="package-item">
                    <img src="~/images/hotels/gulmarg/kolahai.jpg" style="height: 196px;" alt="KOLAHOI GREEN">
                    <div class="package-content">
                        <h3><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom">KOLAHOI GREEN</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="package-item">
                    <img src="~/images/hotels/gulmarg/heavenresort.jpg" style="height: 196px;" alt="HEEVAN RETREAT">
                    <div class="package-content">
                        <h3><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom">HEEVAN RETREAT</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="package-item">
                    <img src="~/images/hotels/gulmarg/hilltop.jpg" style="height: 196px;" alt="HILLTOP">
                    <div class="package-content">
                        <h3><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom">HILLTOP</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="package-item">
                    <img src="~/images/hotels/gulmarg/ShawInn.jpg" style="height: 196px;" alt="SHAW INN">
                    <div class="package-content">
                        <h3><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom">SHAW INN</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="package-item">
                    <img src="~/images/hotels/gulmarg/royalpark.jpg" style="height: 196px;" alt="ROYAL PARK">
                    <div class="package-content">
                        <h3><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom">ROYAL PARK</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="package-item">
                    <img src="~/images/hotels/gulmarg/khaleel.jpg" style="height: 196px;" alt="KHALEEL PALACE">
                    <div class="package-content">
                        <h3><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom">KHALEEL PALACE</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="package-item">
                    <img src="~/images/hotels/gulmarg/alpineridge.jpg" style="height: 196px;" alt="ALPINE RIDGE">
                    <div class="package-content">
                        <h3><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom">ALPINE RIDGE</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="package-item">
                    <img src="~/images/hotels/gulmarg/mamapalace.jpg" style="height: 196px;" alt="MAMA PALACE">
                    <div class="package-content">
                        <h3><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom">MAMA PALACE</a></h3>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>