@page
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "ladakh";
}

<section class="breadcrumb-outer text-center" style="background: url(../images/slider/s4.jpg); background-position:center;background-position-x: right;">
    <div class="container">
        <div class="breadcrumb-content">
            <h2>@ViewData["Title"]</h2>
            <nav aria-label="breadcrumb">
                <ul class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/hotels">Hotels</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="section-overlay"></div>
</section>


<section class="popular-packages pad-bottom-80 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="package-item">
                    <img src="~/images/hotels/ladakh/ladakh2.jpg" style="height: 196px;" alt="HOTELS">
                    <div class="package-content">
                        <h3><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom">HOTELS</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="package-item">
                    <img src="~/images/hotels/ladakh/ladakh3.jpg" style="height: 196px;" alt="HOTELS JAN">
                    <div class="package-content">
                        <h3><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom">HOTELS JAN</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="package-item">
                    <img src="~/images/hotels/ladakh/ladakh4.jpg" style="height: 196px;" alt="ZAMBALA INN">
                    <div class="package-content">
                        <h3><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom">ZAMBALA INN</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="package-item">
                    <img src="~/images/hotels/ladakh/ladakh6.jpg" style="height: 196px;" alt="THE INDUS VALLEY">
                    <div class="package-content">
                        <h3><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom">THE INDUS VALLEY</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="package-item">
                    <img src="~/images/hotels/ladakh/ladakh7.jpg" style="height: 196px;" alt="HOTELS NATURAL">
                    <div class="package-content">
                        <h3><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom">HOTELS NATURAL</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="package-item">
                    <img src="~/images/hotels/ladakh/ladakh2.jpg" style="height: 196px;" alt="HUNDER">
                    <div class="package-content">
                        <h3><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom">HUNDER</a></h3>
                    </div>
                </div>
            </div>
             <div class="col-lg-4 col-md-6">
                <div class="package-item">
                    <img src="~/images/hotels/ladakh/ladakh4.jpg" style="height: 196px;" alt="HOTELS CLASSIC">
                    <div class="package-content">
                        <h3><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom">HOTELS CLASSIC</a></h3>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>