@page
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "Pahalgam";
}

<section class="breadcrumb-outer text-center" style="background: url(../images/slider/s4.jpg); background-position:center;background-position-x: right;">
    <div class="container">
        <div class="breadcrumb-content">
            <h2>@ViewData["Title"]</h2>
            <nav aria-label="breadcrumb">
                <ul class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/hotels">Hotels</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="section-overlay"></div>
</section>


<section class="popular-packages pad-bottom-80 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="package-item">
                    <img src="~/images/hotels/pahalgam/WILDFLOWER.jpg" style="height: 196px;" alt="Image">
                    <div class="package-content">
                        <h3><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom">WILD FLOWER</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="package-item">
                    <img src="~/images/hotels/pahalgam/EDENPAHALGAM.jpg" style="height: 196px;" alt="Image">
                    <div class="package-content">
                        <h3><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom">EDEN RESORT</a></h3>
                    </div>
                </div>
            </div> 
            <div class="col-lg-4 col-md-6">
                <div class="package-item">
                    <img src="~/images/hotels/pahalgam/kolihighgereen.jpg" style="height: 196px;" alt="Image">
                    <div class="package-content">
                        <h3><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom">KOLAHOI GREEN</a></h3>
                    </div>
                </div>
            </div> 
            <div class="col-lg-4 col-md-6">
                <div class="package-item">
                    <img src="~/images/hotels/pahalgam/HEAVANRESORTS.jpg" style="height: 196px;" alt="Image">
                    <div class="package-content">
                        <h3><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom">HEEVAN RETREAT</a></h3>
                    </div>
                </div>
            </div> 
            <div class="col-lg-4 col-md-6">
                <div class="package-item">
                    <img src="~/images/hotels/pahalgam/HILTOP.jpg" style="height: 196px;" alt="Image">
                    <div class="package-content">
                        <h3><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom">HILLTOP</a></h3>
                    </div>
                </div>
            </div>  
            <div class="col-lg-4 col-md-6">
                <div class="package-item">
                    <img src="~/images/hotels/pahalgam/chinar.jpg" style="height: 196px;" alt="Image">
                    <div class="package-content">
                        <h3><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom">CHINAR RESORT</a></h3>
                    </div>
                </div>
            </div> 
            <div class="col-lg-4 col-md-6">
                <div class="package-item">
                    <img src="~/images/hotels/pahalgam/ROYALHILTON.jpg" style="height: 196px;" alt="Image">
                    <div class="package-content">
                        <h3><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom">ROYAL HILTON</a></h3>
                    </div>
                </div>
            </div>
             <div class="col-lg-4 col-md-6">
                <div class="package-item">
                    <img src="~/images/hotels/pahalgam/HERMITAGE.jpg" style="height: 196px;" alt="Image">
                    <div class="package-content">
                        <h3><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom">HERMITAGE</a></h3>
                    </div>
                </div>
            </div>
             <div class="col-lg-4 col-md-6">
                <div class="package-item">
                    <img src="~/images/hotels/pahalgam/PINES.jpg" style="height: 196px;" alt="Image">
                    <div class="package-content">
                        <h3><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom">PAHALGAM PINES</a></h3>
                    </div>
                </div>
            </div>
             <div class="col-lg-4 col-md-6">
                <div class="package-item">
                    <img src="~/images/hotels/pahalgam/GREENHEIGHTS.jpg" style="height: 196px;" alt="Image">
                    <div class="package-content">
                        <h3><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom">GREEN HEIGHTS</a></h3>
                    </div>
                </div>
            </div>
             <div class="col-lg-4 col-md-6">
                <div class="package-item">
                    <img src="~/images/hotels/pahalgam/HOME2.jpg" style="height: 196px;" alt="Image">
                    <div class="package-content">
                        <h3><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom">HOME 2</a></h3>
                    </div>
                </div>
            </div>
             <div class="col-lg-4 col-md-6">
                <div class="package-item">
                    <img src="~/images/hotels/pahalgam/SRICHANRESORTS.jpg" style="height: 196px;" alt="Image">
                    <div class="package-content">
                        <h3><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom">SRICHAN RESORT</a></h3>
                    </div>
                </div>
            </div>
             <div class="col-lg-4 col-md-6">
                <div class="package-item">
                    <img src="~/images/hotels/pahalgam/MOONVIEWRESORTS.jpg" style="height: 196px;" alt="Image">
                    <div class="package-content">
                        <h3><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom">MOON VIEW</a></h3>
                    </div>
                </div>
            </div>
             <div class="col-lg-4 col-md-6">
                <div class="package-item">
                    <img src="~/images/hotels/pahalgam/RIVERVIEWRESORTS.jpg" style="height: 196px;" alt="Image">
                    <div class="package-content">
                        <h3><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom">RIVER VIEW RESORT</a></h3>
                    </div>
                </div>
            </div>
             <div class="col-lg-4 col-md-6">
                <div class="package-item">
                    <img src="~/images/hotels/pahalgam/FLYINGBIRD.jpg" style="height: 196px;" alt="Image">
                    <div class="package-content">
                        <h3><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom">FLYING BIRD</a></h3>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>