@page
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "Srinagar";
}

<section class="breadcrumb-outer text-center" style="background: url(../images/slider/s4.jpg); background-position:center;background-position-x: right;">
    <div class="container">
        <div class="breadcrumb-content">
            <h2>@ViewData["Title"]</h2>
            <nav aria-label="breadcrumb">
                <ul class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/hotels">Hotels</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="section-overlay"></div>
</section>


<section class="popular-packages pad-bottom-80 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="package-item">
                    <img src="~/images/hotels/srinagar/RosePetalSrinagar.jpg" style="height: 196px;" alt="Image">
                    <div class="package-content">
                        <h3><a href="javascript:void(0);">ROSE PETAL</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="package-item">
                    <img src="~/images/hotels/srinagar/grandkaiser.jpg" style="height: 196px;" alt="Image">
                    <div class="package-content">
                        <h3><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom">GRAND KAISAR</a></h3>
                    </div>
                </div>
            </div> 
            <div class="col-lg-4 col-md-6">
                <div class="package-item">
                    <img src="~/images/hotels/srinagar/heritageluxury.jpg" style="height: 196px;" alt="Image">
                    <div class="package-content">
                        <h3><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom">HERITAGE LUXURY</a></h3>
                    </div>
                </div>
            </div> 
            <div class="col-lg-4 col-md-6">
                <div class="package-item">
                    <img src="~/images/hotels/srinagar/palmspring.jpg" style="height: 196px;" alt="Image">
                    <div class="package-content">
                        <h3><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom">PALM SPRING</a></h3>
                    </div>
                </div>
            </div> 
            <div class="col-lg-4 col-md-6">
                <div class="package-item">
                    <img src="~/images/hotels/srinagar/sixseason.jpg" style="height: 196px;" alt="Image">
                    <div class="package-content">
                        <h3><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom">SIX SEASON</a></h3>
                    </div>
                </div>
            </div>  
            <div class="col-lg-4 col-md-6">
                <div class="package-item">
                    <img src="~/images/hotels/srinagar/asainpark.jpg" style="height: 196px;" alt="Image">
                    <div class="package-content">
                        <h3><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom">ASIAN PARK</a></h3>
                    </div>
                </div>
            </div> 
            <div class="col-lg-4 col-md-6">
                <div class="package-item">
                    <img src="~/images/hotels/srinagar/ADLIFELUXURY.jpg" style="height: 196px;" alt="Image">
                    <div class="package-content">
                        <h3><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom">ADLIFE LUXURY</a></h3>
                    </div>
                </div>
            </div>
             <div class="col-lg-4 col-md-6">
                <div class="package-item">
                    <img src="~/images/hotels/srinagar/CITYGRACE.jpg" style="height: 196px;" alt="Image">
                    <div class="package-content">
                        <h3><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom">CITY GRACE</a></h3>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>