<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Search Trip</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/icons/favicon.png">

    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <link href="~/css/style.css" rel="stylesheet" type="text/css">

    <link href="~/font/flaticon.css" rel="stylesheet" type="text/css">

    <link href="~/css/plugin.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">



    <style>
        .wtsapChat {
            position: fixed;
            right: 40px;
            bottom: 70px;
            z-index: 1025;
            width: 50px;
        }

        .bottom-btns {
            position: fixed;
            bottom: 0px;
            width: 100%;
            z-index: 10;
        }

        @@media (min-width: 768px) {
            .d-md-none {
                display: none !important;
            }
        }


        .login-box {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 400px;
            padding: 40px;
            transform: translate(-50%, -50%);
            background: rgba(0,0,0,.5);
            box-sizing: border-box;
            box-shadow: 0 15px 25px rgba(0,0,0,.6);
            border-radius: 10px;
        }

            .login-box h2 {
                margin: 0 0 30px;
                padding: 0;
                color: #fff;
                text-align: center;
            }

            .login-box .user-box {
                position: relative;
            }

                .login-box .user-box input {
                    width: 100%;
                    padding: 10px 0;
                    font-size: 16px;
                    color: #fff;
                    margin-bottom: 30px;
                    border: none;
                    border-bottom: 1px solid #fff;
                    outline: none;
                    background: transparent;
                }

                .login-box .user-box label {
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: 10px 0;
                    font-size: 16px;
                    color: #fff;
                    pointer-events: none;
                    transition: .5s;
                }

                .login-box .user-box input:focus ~ label,
                .login-box .user-box input:valid ~ label {
                    top: -20px;
                    left: 0;
                    color: #03e9f4;
                    font-size: 12px;
                }

            .login-box form a {
                position: relative;
                display: inline-block;
                padding: 10px 20px;
                color: #03e9f4;
                font-size: 16px;
                text-decoration: none;
                text-transform: uppercase;
                overflow: hidden;
                transition: .5s;
                margin-top: 40px;
                letter-spacing: 4px
            }

            .login-box a:hover {
                background: #03e9f4;
                color: #fff;
                border-radius: 5px;
                box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
            }

            .login-box a span {
                position: absolute;
                display: block;
            }

                .login-box a span:nth-child(1) {
                    top: 0;
                    left: -100%;
                    width: 100%;
                    height: 2px;
                    background: linear-gradient(90deg, transparent, #03e9f4);
                    animation: btn-anim1 1s linear infinite;
                }

        @@keyframes btn-anim1 {
            0% {
                left: -100%;
            }

            50%, 100% {
                left: 100%;
            }
        }

        .login-box a span:nth-child(2) {
            top: -100%;
            right: 0;
            width: 2px;
            height: 100%;
            background: linear-gradient(180deg, transparent, #03e9f4);
            animation: btn-anim2 1s linear infinite;
            animation-delay: .25s
        }

        @@keyframes btn-anim2 {
            0% {
                top: -100%;
            }

            50%, 100% {
                top: 100%;
            }
        }

        .login-box a span:nth-child(3) {
            bottom: 0;
            right: -100%;
            width: 100%;
            height: 2px;
            background: linear-gradient(270deg, transparent, #03e9f4);
            animation: btn-anim3 1s linear infinite;
            animation-delay: .5s
        }

        @@keyframes btn-anim3 {
            0% {
                right: -100%;
            }

            50%, 100% {
                right: 100%;
            }
        }

        .login-box a span:nth-child(4) {
            bottom: -100%;
            left: 0;
            width: 2px;
            height: 100%;
            background: linear-gradient(360deg, transparent, #03e9f4);
            animation: btn-anim4 1s linear infinite;
            animation-delay: .75s
        }

        @@keyframes btn-anim4 {
            0% {
                bottom: -100%;
            }

            50%, 100% {
                bottom: 100%;
            }
        }

    </style>
</head>
<body>
    <header>
        <div class="upper-head clearfix">
            <div class="container">
                <div class="contact-info">
                    <p><i class="flaticon-phone-call"></i> +91 (788)-979-3852   </p>
                    <p>  <i class="flaticon-mail"></i><a href="mailto:info@searchtrip.co.in" class="__cf_email__" style="color:white">info@searchtrip.co.in</a></p>
                </div>
            </div>
        </div>
    </header>


    <div class="navigation">
        <div class="container">
            <div class="navigation-content">
                <div class="header_menu">

                    <nav class="navbar navbar-default navbar-sticky-function navbar-arrow">
                        <div class="logo pull-left">
                            <a href="/"><img alt="Image" src="~/images/icons/logo.png" class="image-overlay img-fluid" style="width:20%"></a>
                        </div>
                        <div id="navbar" class="navbar-nav-wrapper">
                            <ul class="nav navbar-nav" id="responsive-menu">
                                <li class="active"><a href="/">Home</a></li>
                                <li><a href="/About-us">About Us</a></li>
                                <li><a href="/destinations">Destinations</a></li>
                                <li><a href="/hotels">Hotels</a></li>
                                <li><a href="/packs">Packages</a></li>
                                <li><a href="/Contact-us">Contact Us</a></li>
                               
                            </ul>
                        </div>
                        <div id="slicknav-mobile"></div>
                    </nav>
                </div>
            </div>
        </div>
    </div>

            @RenderBody()

    <footer>
        <div class="footer-upper">
            <div class="container">

                <div class="footer-links">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="footer-about footer-margin">
                                <div class="about-logo">
                                    <img src="~/images/icons/logo.png" class="img-fluid img-responsive" alt="Image">
                                </div>
                                <p>Since our origin in 2022, we have served and provided the best tour package to our clients through out the country and globe too.</p>
                                <div class="about-location">
                                    <ul>
                                        <li><i class="flaticon-maps-and-flags" aria-hidden="true"></i> Gulmarg Road Magam Budgam</li>
                                        <li><i class="flaticon-phone-call"></i> +91 9596096197 </li>
                                        <li><i class="flaticon-mail"></i> <a href="mailto:info@searchtrip.co.in" class="__cf_email__">info@searchtrip.co.in</a></li>
                                    </ul>
                                </div>
                             @*   <div class="footer-social-links">
                                    <ul>
                                        <li class="social-icon"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li class="social-icon"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                        <li class="social-icon"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li class="social-icon"><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                                        <li class="social-icon"><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>*@
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="footer-links-list footer-margin">
                                <h3>Quick Links</h3>
                                <ul>
                                    <li><a href="/about-us">About Us <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                                    <li><a href="/destinations">Destinations <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                                    <li><a href="/packs">Packages <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                                    <li><a href="/#trip-ad">Current Offer <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                                    <li><a href="/#bucket-list">Trending Hotels <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                                    <li><a href="/contact-us">Contact us <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="footer-recent-post footer-margin">
                                <h3>Usefull Links</h3>
                                <ul>
                                    <li><a href="https://www.jammukashmircablecar.com/" target="_blank">GULMARG GONDOLA <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                                    <li><a href="https://online.maavaishnodevi.org/#/login" target="_blank">Maa Vaishno Devi <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                                    <li><a href="https://jksasb.nic.in/" target="_blank">SHRI AMARNATHJI <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                                    <li><a href="https://www.irctc.co.in/nget/" target="_blank">Railways Booking <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="footer-links-list">
                                <div class="footer-instagram">
                                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fsearchtripkashmir%3Fmibextid%3DZbWKwL&tabs=timeline&width=340&height=331&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="340" height="331" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="copyright-content">
                            <p>@DateTime.UtcNow.ToString("yyyy") <i class="fa fa-copyright" aria-hidden="true"></i> Search Trip - Tour And Travels by <a href="https://ubairmir.info/" target="_blank">Ubair Mir</a></p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="payment-content">
                            <ul>
                                <li>We Accept</li>
                                <li>
                                    <img src="~/images/payment1.png" alt="Image">
                                </li>
                                <li>
                                    <img src="~/images/payment2.png" alt="Image">
                                </li>
                                <li>
                                    <img src="~/images/payment3.png" alt="Image">
                                </li>
                                <li>
                                    <img src="~/images/payment4.png" alt="Image">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <div class="modal fade" id="enquiryfrom" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="margin-top: 331px">
            <div class="modal-content">
                <div class="modal-body login-box">

                    <h2>Quick Enquiry</h2>


                    <form>
                        <div class="user-box">
                            <input type="text" name="name" id="enqname" required="">
                            <label>Name</label>
                        </div>
                        <div class="user-box">
                            <input type="text" name="mobile" id="enqphone" required="">
                            <label>Mobile</label>
                        </div>
                        <div class="user-box">
                            <input type="email" name="email" id="enqemail" required="">
                            <label>Email</label>
                        </div>
                        <div class="user-box">
                            <input type="text" name="address" multiple rows="6" id="enqaddress" required="">
                            <label>Address</label>
                        </div>
                        <a href="javascript:void(0);" data-dismiss="modal" aria-label="Close" id="model_close">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <i class="fa fa-arrow-left"></i> Close
                        </a>
                        <a href="javascript:void(0);" id="btn_enquiry_Click" style="float:right;">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Submit <i class="fa fa-arrow-up"></i>
                        </a>

                    </form>
                </div>
            </div>
        </div>
    </div>


    <span class="wtsapChat">
        <a href="https://api.whatsapp.com/send/?phone=919596096197&text&type=phone_number&app_absent=0" target="_blank">
            <img src="~/images/icons/whatsapp.png" width="100%" alt="" srcset="">
        </a>
    </span>

  
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/plugin.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/main-1.js"></script>
    <script src="~/js/custom-countdown.js"></script>
    <script src="~/js/preloader.js"></script>

    <!-- sticky header -->
    <script type="text/javascript">


        $(document).ready(function () {

         
            $("#btn_enquiry_Click").click(function (e) {
                e.preventDefault();
                var name = SafeString($("#enqname").val());
                var mobile = SafeString($("#enqphone").val());
                var email = SafeString($("#enqemail").val());
                var address = SafeString($("#enqaddress").val());

                var _data = '{"Name":"' + name + '","Mobile":"' + mobile + '","Email":"' + email + '","Address":"' + address + '"}';
                SendQuotes(_data, "quotes")

            });

            $("#Feedback_submit").click(function (e) {
                e.preventDefault();
                var name = SafeString($("#fdbname").val());
                var email = SafeString($("#fdbmail").val());
                var message = SafeString($("#fdbmessage").val());

                var _data = '{"Name":"' + name + '","Email":"' + email + '","Message":"' + message + '"}';
                SendQuotes(_data, "FeedBack")

            });
        });
        function SendQuotes(_data, pass) {
            $.ajax({
                url: "/email/" + pass,
                type: "POST",
                data: _data,
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    alert(response);
                },
                failure: function (response) {
                    alert(response);

                }
            });
        }
        function SafeString(str) {
            return str.replace(/&/g, "&amp;").replace(/>/g, "&gt;").replace(/</g, "&lt;").replace(/"/g, "&quot;");
        }

    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>